<!DOCTYPE html>
<html lang="en">
  <head>
     <title>About | Quiz Engine | Mastered </title>
    <% include ../partials/head %>
  </head>
  <body>
    <p>
      This is an about page
    </p>
  </body>
</html>
