<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home | Quiz Engine | Mastered &amp;</title>
  <% include ../partials/head %>
</head>
<body>
  <div class="text-center huge-top-buffer">
    <div class ="container-fluid">
      <img class="fadeInUp" src="../images/icons/code.svg" alt="How much does a website cost?">
      <h1>How Much Does a Website Cost</h1>
      <p>Have you ever wondered how much it would cost to make a website? This handy app cost calculator will help you: Find out how much your website will cost in under a minute!</p>
      <button id ="startBtn" onclick="startQuiz()" type="button" class="btn btn-lg btn--light btnFillup anglebg">Get Started</button>
    </div>

    <div class = 'top-right'>
            <div class="social-buttons hidden-xs">
  					<!-- Facebook Share Button -->
  					<div class="fb-share-button" data-href="http://howmuchdoesawebsiteco.st" data-layout="button"></div>
  					<!-- Twitter Tweet Button -->
  					<a href="https://twitter.com/share" class="twitter-share-button" data-text="How much does it cost to make a website? Find out in less than a minute. –" data-count="none"></a>
  					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  				</div>
    </div>



  </div>
    <% include ../partials/footer %>
</body>
</html>
<!--

Quiz Engine
-------------
1. Create a question template that has its own unique route,
It should have a question title and then a further descriptive detail underneath,
a list of clickable answers, a summarized total of the quote so far, current page & total number of pages.

2. Each Answer should have an image of a specified size and a title.

3. Results page should have a shareable link, that is built up using the decisions made by taking the quiz and the same quote value.

if (question.answers.length == 2){
document.getElementById("answerImage").classList.add("offset-3");

ToDo List
__________

[]    encrypted url
[]    loop generating list on results pages
[]    make modal bigger
[]    clean code
[X]    mx-auto on answers




}

-->
