<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home | Quiz Engine | Mastered &amp;</title>
    <% include ../partials/head %>
  </head>
      <body>
      <div class="container-fluid text-center">
        <div class="jumbotron">
          <h1>This is a Quiz Engine Template</h1>
        </div>
        <h2>Question 1 Title</h2>
        <p>Description of question 1</p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb img-grow">
          <a class="thumbnail" href="#">
              <input type="checkbox" id="cb3" />
              <label for="cb3"><img class="img-responsive" src="http://placehold.it/400x300" alt="" height="300" width="400"></label>
                <div class="top-center text-dark">Answer 1 Text</div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb img-grow">
          <a class="thumbnail" href="#">
              <input type="checkbox" id="cb3" />
              <label for="cb3"><img class="img-responsive" src="http://placehold.it/400x300" alt="" height="300" width="400"></label>
                <div class="top-center text-dark">Answer 2 Text</div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb img-grow">
            <a class="thumbnail" href="#">
                <input type="checkbox" id="cb3" />
                <label for="cb3"><img class="img-responsive" src="http://placehold.it/400x300" alt="" height="300" width="400"></label>
                <div class="top-center text-dark">Answer 3 Text</div>
            </a>
        </div>
      </div>
    </div>
      <div class = 'top-right'>
        <p>
          Quote: €0
        </p>
      </div>

      <div class = 'top-left'>
        <p>
          < - Previous Question
        </p>
      </div>

      <div class = 'bottom-right'>
        <p>
          Page: 1 out of 10.
        </p>
      </div>

      <script src="../javascripts/script.js"></script>
      </body>


</html>

  <!--

  Quiz Engine
-------------
1. Create a question template that has its own unique route,
It should have a question title and then a further descriptive detail underneath,
a list of clickable answers, a summarized total of the quote so far, current page & total number of pages.

2. Each Answer should have an image of a specified size and a title.

3. Results page should have a shareable link, that is built up using the decisions made by taking the quiz and the same quote value.


  -->
