<!DOCTYPE html>
<html lang="en">
  <head>
     <title>Results | Quiz Engine | Mastered </title>
    <% include ../partials/head %>
  </head>
  <body onload="generateEstimate()">

    <div class = 'top-left'>
      <a onclick="startQuiz()" class="giveCursor">
        <h4>< - Start Again</h4>
      </a>
    </div>

    <div id = "quote" class = 'top-right'>
      <button onclick="shareLink()" type="button" class="btn btn-lg btn--light" data-toggle="modal" data-target=".bd-example-modal-lg">Get Link to Save or Share<span class="fa fa-chevron-circle-right"></span></button>

<!-- Modal -->
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="text-center modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Share Project Estimate</h5>
              <br />
              <p class="modal-title">
                Save this link to review your project later or share it with a friend.
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-light fa fa-times fa-3x" aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <br />
              <input class="form-text-area" type="text" value="Copy text!" id="shareLink">
            </div>
            <div class="modal-footer">
              <button class="btn btn-info" onclick="copyText()">Copy text</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center top-buffer bottom-buffer">
      <div class ="container-fluid">
        <div class="theme-dark text-center wow fadeInUp anim" data-wow-delay="0.3s">
          <h1>Your custom website estimate</h1>
            <img class="fadeInUp" src="../images/icons/code.svg" alt="How much does a website cost?">
            <h1><span class="estimate">€</span><span id = "quote" class="estimate final-quote">0</span><span class="estimate"> – </span><span class="estimate">€</span><span id = "quote" class="estimate final-quote">0</span></h1>
            <button onclick="breakdownReveal()" class="btn btn--light">Breakdown</button>



            <!-- BREAKDDOWN -->
            <div class="text-center" id="breakdownDIV">
              <div class="container">
                  <ul>
                  <%   for(var i=0; i< results.length; i++) { %>
                    <li>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="<%= results[i].imageURL %>" alt="" height="75" width="75">
                                </div>
                                <div class="media-body">
                                    <p><%= results[i].question %> </p>
                                    <p><%= results[i].answer %> </p>
                                    <p id=value style="display: none"><%= results[i].value %></p>



                                  <!--  <p>Answer: <span id="<% i %>"></span></p> -->
                                </div>
                            </div>
                    </li>
                    <%   } %>
                  </ul>
          <!--   <ul>
                <li class="bd-item clearfix">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="../images/web/laptop.svg" alt="" height="75" width="75">
                            </div>
                            <div class="media-body">
                                <p>How many pages would you like to have? </p>
                                <p>Answer: <span id="question3"></span></p>
                            </div>
                        </div>
                </li>
                <li class="bd-item clearfix">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="../images/web/laptop.svg" alt="" height="75" width="75">
                            </div>
                            <div class="media-body">
                                <p>How many pages would you like to have?</p>
                                <p>Answer: <span id="question7"></span></p>
                            </div>
                        </div>
                </li>
                <li class="bd-item clearfix">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="../images/web/laptop.svg" alt="" height="75" width="75">
                            </div>
                            <div class="media-body">
                                <p>How many pages would you like to have? </p>
                                <p>Answer: <span id="question11"></span></p>
                            </div>
                        </div>
                </li>
                <li class="bd-item clearfix">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="../images/web/laptop.svg" alt="" height="75" width="75">
                            </div>
                            <div class="media-body">
                                <p>How many pages would you like to have? </p>
                                <p>Answer: <span id="question15"></span></p>
                            </div>
                        </div>
                </li>
                <li class="bd-item clearfix">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="../images/web/laptop.svg" alt="" height="75" width="75">
                            </div>
                            <div class="media-body">
                                <p>How many pages would you like to have? </p>
                                <p>Answer: <span id="question19"></span></p>
                            </div>
                        </div>
                </li>
                <li class="bd-item clearfix">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="../images/web/laptop.svg" alt="" height="75" width="75">
                            </div>
                            <div class="media-body">
                                <p>How many pages would you like to have? </p>
                                <p>Answer: <span id="question23"></span></p>
                            </div>
                        </div>
                </li>
              </ul> -->
          </div>
            </div>

            <!-- Form  -->
            <p class="container-fixed">At Mastered, we create digital products based on needs, not requirements. Check out some <a href="https://www.mastered.ie" target="_blank">examples of our work</a>.</p>
            <form id="myForm" class="contact-form-how-much" name="contact_how_much" method="post" >
                  <input type="hidden" name="honey">
                  <input class="form-text-area" type="text" name="fullname" for="fullname" required="" placeholder="Your name">
                  <input class="form-text-area" type="email" name="email" for="email" required="" placeholder="Your email">
                  <textarea required="" class="form-text-area describeApp" name="message" placeholder="Describe your APP"></textarea>
                  <input id="requirements" class="form-text-area" type="text" name="requirements" for="requirements" required="" placeholder="requirements" style="display: none">
                  <input id="quotePara" class="form-text-area" type="text" name="quotePara" for="requirements" required="" placeholder="quotePara" style="display: none">
                  <button id="send-button" type="submit" class="btn btn-lg btn--light btnFillup anglebg" style="min-height:50px">
                      <span class="final-cta-content final-cta-content-mobile">Get your project started</span>
                      <span class="do-not-remove-the-span-tbear">→</span>
                  </button>
              </form>
          </div>
       </div>
    </div>

    <!-- Footer -->
    <div class = 'bottom-right text-center'>
      <p>
        © Copyright 2019 <a class="text-light"href="https://www.mastered.ie" target="_blank">Mastered Creative Ltd.</a> All rights reserved.
      </p>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
